<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Unicorn Beater™</title>
<link href="style.css" rel="stylesheet" type="text/css" />

<script src="../Vue2.js" defer></script>
<script src="script.js" defer></script>
<script src="setup.js" defer></script>
</head>
<body>
<div id="vue">
<br>
<div class="unicornLvlKleur"> {{ type() }} unicorn <div class=""></div> lvl {{ game.levels+1 }} </div>
<div class="centrr"><progress id="Health" :value="  (unicornHP()-game.damageDealt)/unicornHP()*100 " max="100"></progress></div>
HP: {{ unicornHP()-game.damageDealt }} / {{ unicornHP() }} <br>
DPS: {{ Math.floor((1 + strengthEffect(player.heroes[1]) / 100)*player.upgrades.dps*(player.upgrades.dps+1)/2) }}</span>
<img id="assUnicorn" @click="dealDamage(0)" src="images/common.png" alt="">
<button id="DealDamage" @click="dealDamage(0)"> Spank {{ 1+player.upgrades.click }} HP away from the Unicorn</button>
<br>
Coins: {{ player.coins }} <br>
Rainbow hair: {{ player.rainbowHair }} <br>
Horns: {{ player.horns }}
<br>
<br>



<div v-if="player.unlocks.coins" id="damage">
<button id="MaxBuy" onclick="toggleMaxBuy()"> Toggle max buy: {{ player.maxBuy }} </button> <br>
<button id="IncreaseDPC" onclick="buyCoinUpgrade(0)"> Spank 1 HP more per click for {{ player.upgrades.dps+1 }} for {{ Math.round(Math.pow((player.upgrades.click + 1), salesEffect(player.heroes[2]))) }} Coins</button> <br>
<button id="IncreaseDPS" onclick="buyCoinUpgrade(1)"> Increase base DPS by {{ Math.round(Math.pow((player.upgrades.dps + 1), salesEffect(player.heroes[2]))) }}  Coins</button> <br>
<br>
<br>
</div>
<div v-if="false" id="autobuy">
<button id="AutoBuy" onclick="toggleAutoBuy()"> <span id="AutoBuyText"></span> </button> <button id="AutoBuy2" onclick="chooseAutoBuy()"> <span id="AutoBuyText2"></span> </button> <br>
</div>
<div v-if="player.unlocks.rainbowHair" id="upgrades">
<button id="CoinButton" onclick="buyDoubler(0)"> ×2 Coins gain for {{ 2*2**player.hairUpgrades[0] }}
Rainbow Hair</button>
Mult: x {{ 2**player.hairUpgrades[0] }} <br>

<button id="RainbowHairButton" onclick="buyDoubler(1)"> ×2 Rainbow Hair gain for {{ game.rainbowHairGainCost }} Rainbow Hair</button>
Mult: x {{ 2**player.hairUpgrades[1] }} <br>

<button id="HornsButton" onclick="buyDoubler(2)"> ×2 Horns gain for {{ 8*3**player.hairUpgrades[2] }}
Rainbow Hair</button> Mult: x {{ 2**player.hairUpgrades[2] }} <br>
<br>
<br>
</div>

<div v-if="player.unlocks.horns" id="lootbox">
<button id="LootBox" onclick="buyLootBox()"> Buy a lootbox for <span id="LootBoxCost"></span> Horns</button>
<button id="Prestige" onclick="prestige()"> <span id="PrestigeText"></span> </button> <br>
<br>
<br>
</div>

<div v-if="player.unlocks.heroes" id="heroes">
Wealth (lvl <span id="WealthLvl"></span>): You gain <span id="WealthEffect"></span>% more coins <br><br>
Strength (lvl <span id="StrengthLvl"></span>): You do <span id="StrengthEffect"></span>% more dps and dpc<br><br>
Sales (lvl <span id="SalesLvl"></span>): Coin costs are raised to ^<span id="SalesEffect"></span><br><br>
Weakness (lvl <span id="WeaknessLvl"></span>): Unicorns are <span id="WeaknessEffect"></span>x stronger each lvl
<br><br>
Luck (lvl <span id="LuckLvl"></span>): You have a 1 in <span id="LuckEffect"></span> chance to get rarer
Unicorns <br><br>
<br>
<br>
</div>

<br>
<button id="HardReset" onclick="hardReset()"> Reset all progress</button> <br>
</div>
</body>
</html>
